
.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 2rem;
}

.logo{
  cursor: pointer;
  width: 200px;
}

.title{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.compagny-name{
  text-transform: uppercase;
  font-size: 4rem;
}

.artist-name{
  font-size: 3rem;
}

app-home-menu{
  width: 150px;
}
  