<div class="artist-modal">
  <img
    [ngSrc]="getArtistImagePath(artist)"
    class="artist-portrait"
    [alt]="artist.alt"
    width="400"
    height="500"
  />
  <div class="artist-details">
    <span class="artist-name"
      >{{ artist.firstName }} {{ artist.lastName }}</span
    >
    <div
      class="artist-description"
      *ngFor="let paragraph of artist.description"
    >
      <p>{{ paragraph }}</p>
    </div>
  </div>
  <div (click)="close()" class="close">
    <img src="assets/icons/close.svg" alt="icône x pour fermer la page" />
  </div>
</div>
