@import "../../../../styles/variables";

.artist-name {
  color: $dark-blue;
  font-weight: 900;
  font-size: 3rem;
}

.artist-portrait {
  height: 40rem;
  padding-right: 1rem;
}

.artist-modal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.artist-description {
  text-align: justify;
}

.close {
  color: $dark-blue;
  font-size: 2rem;
  padding-left: 1rem;
}

@media only screen and (max-width: $small-screen-size) {
  .artist-modal {
    flex-direction: column;
    align-items: center;
    max-height: 100%;
  }

  .artist-portrait {
    height: fit-content;
    width: 100%;
    padding-right: 0;
    margin-bottom: 1rem;
  }

  .artist-name {
    color: $dark-blue;
    font-size: 2rem;
  }

  .artist-details {
    text-align: center;
  }

  .close {
    padding-bottom: 1rem;
  }
  .artist-modal-panel {
    max-height: 80%;
    overflow-y: auto;
  }
}
