<div class="about">
  <div class="row">
    <div class="about-portrait">
      <img src="assets/about/portrait.jpg" alt="image" class="about-dessin">
      <span class="credits">Portrait réalisé par Petra Jansson</span>
    </div>
    <div class="intro">
      <span class="title">Estelle Bézombes</span>
      <p>
        Née à Grasse en 1995, Estelle est une danseuse interprète. Elle commence par la danse sur glace qu'elle pratique pendant sept ans puis s'investit dans la pratique de la gymnastique rythmique durant sept autres années avant de se tourner vers la danse contemporaine. Elle débute en Grèce en s'entraînant au centre Horohronos à Athènes avant de revenir en France à Lyon et d'intégrer le Centre de Formation de Danse désoblique (CFDd). Elle obtient son EAT (examen d'aptitude technique) en danse contemporaine. En parallèle de ses études en danse elle est diplômée de l'école d'ingénieur Centrale de Lyon en 2020.
      </p>
      <p>
        En 2021 elle intègre le programme professionnel DART DSP à Berlin auprès de la compagnie DART. Durant la saison 2021/2022 elle travaille avec les chorégraphes Fabio Liberti et le duo Dor Mamalia et Dariusz Nowak. Elle danse dans les pièces 'Solo(s) for real' et 'AISLING' qui ont été présentées sur la scène du Pfeffeberg theatre et Uferstudios à Berlin. Elle est également interprète dans la pièce 'WHOAMI' chorégraphiée par Giada Grieco et présentée sur plusieurs scènes à Berlin. 
      </p>
      <p>
        Actuellement elle travaille sur le solo 'L'horizon est fait de petits cailloux' qu'elle chorégraphie et interprète, en collaboration avec la compositrice Inès Murer. 
      </p>
    </div>
  </div>
</div>