<div class="menu-trigger menu-item" (click)="isOpen = !isOpen">
  <a routerLink="/dialogue-avec-l-œuvre-pluie-de-montchal"
    class="menu-link"  (click)="closeMenu()">Projets</a>
  <i [ngClass]="isOpen ? 'gg-chevron-up' : 'gg-chevron-down'"></i>
</div>
<div class="menu" *ngIf="isOpen" [@projectsMenu]>
	<div class="menu-item">
    <a routerLink="/dialogue-avec-l-œuvre-pluie-de-montchal" class="menu-link" (click)="closeMenu()">Dialogue avec l'oeuvre Pluie de Montchal</a>
	</div>
	<div class="menu-item">
    <a routerLink="/l-horizon-est-fait-de-petits-cailloux" class="menu-link" (click)="closeMenu()">L'horizon est fait de petits cailloux</a>
	</div>
	<div class="menu-item">
    <a routerLink="/whoami" class="menu-link" (click)="closeMenu()">WHOMAI</a>
	</div>
	<div class="menu-item">
    <a routerLink="/aisling" class="menu-link" (click)="closeMenu()">AISLING</a>
	</div>
	<div class="menu-item">
    <a routerLink="/solos-for-real" class="menu-link" (click)="closeMenu()">Solo(s) for real</a>
	</div>
	<div class="menu-item">
    <a routerLink="/ces-flux-qui-nous-portent-et-nous-emportent" class="menu-link" (click)="closeMenu()">Ces flux qui nous portent et nous emportent</a>
	</div>
	<div class="menu-item">
    <a routerLink="/festival-karavel" class="menu-link" (click)="closeMenu()">Festival Karavel</a>
	</div>
	<div class="menu-item">
    <a routerLink="/one-breath" class="menu-link" (click)="closeMenu()">One Breath</a>
	</div>

</div>