@import "../../../styles/variables";

.mat-success {
  background-color: white;
  color: $dark-blue;
  border-color: $dark-blue;
  font-family: Avenir;
}

.mat-success:hover {
  background-color: $dark-blue;
  color: white;
  border-color: $dark-blue;
}

@media only screen and (max-width: $small-screen-size) {
  .mat-success {
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
  }
}
