@use "../../../styles/variables" as *;

.know-more-button {
  --mdc-outlined-button-label-text-color: #{$dark-blue};
  --mdc-outlined-button-outline-color: #{$dark-blue};
  --mdc-outlined-button-container-shape: 0;
  --mat-outlined-button-state-layer-color: #{$dark-blue};
  font-family: Avenir;
  position: relative;
  z-index: 0;
}

.know-more-button:hover {
  background-color: $dark-blue;
  --mdc-outlined-button-label-text-color: white;
  --mdc-outlined-button-outline-color: #{$dark-blue};
}

@media only screen and (max-width: $small-screen-size) {
  .know-more-button {
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
  }
}
