<div class="projects">
  <div class="project-card">
    <img
      src="assets/projects/tuning-in-to-the-senses/projet.JPG"
      alt="Aperçu de la performance Tuning in to the senses"
      class="project-image"
    />
    <div class="project-details">
      <span class="project-title" i18n>Tuning in to the senses</span>
      <span class="project-description" i18n
        >Projet de recherche et de performance entre arts visuels et mouvement.
      </span>
      <button i18n routerLink="/tuning-in-to-the-senses" class="know-more">
        En savoir plus
      </button>
    </div>
  </div>
  <div class="project-card">
    <img
      src="assets/projects/pluie-montchal/montchal.JPG"
      alt="Vue d'ensemble de l'œuvre Pluie de Montchal"
      class="project-image"
    />
    <div class="project-details">
      <span class="project-title" i18n
        >Dialogue avec l'œuvre <i>Pluie de Montchal</i></span
      >
      <span class="project-description" i18n
        >Performance filmée dans le cadre de l'exposition Horizons "Arts -
        Nature" en Sancy 2022.
      </span>
      <button
        i18n
        routerLink="/dialogue-avec-l-œuvre-pluie-de-montchal"
        class="know-more"
      >
        En savoir plus
      </button>
    </div>
  </div>
</div>
