<div class="projects">
  <div class="project-card">
    <img
      src="assets/projects/pluie-montchal/montchal.JPG"
      alt="Vue d'ensemble de l'œuvre Pluie de Montchal"
      class="project-image"
    />
    <div class="project-details">
      <span class="project-title" i18n
        >Dialogue avec l'œuvre <i>Pluie de Montchal</i></span
      >
      <span class="project-description" i18n
        >Performance filmée dans le cadre de l'exposition Horizons "Arts -
        Nature" en Sancy 2022.
      </span>
      <button
        i18n
        routerLink="/dialogue-avec-l-œuvre-pluie-de-montchal"
        class="know-more"
      >
        En savoir plus
      </button>
    </div>
  </div>
</div>
