@import "../../styles/variables";

.compagny {
  display: flex;
  flex-direction: row;
  align-items: self-start;
  margin-bottom: 2%;
}

.presentation {
  padding: 4%;
}

.portrait {
  width: 40rem;
}

.intro {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 4%;
}

.title {
  text-transform: uppercase;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  text-align: center;
}

.choregraph {
  font-size: 1.5rem;
  font-weight: 300;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  color: $dark-blue;
  width: 100%;
  white-space: nowrap;

  span:first-child {
    margin-right: 0.5rem;
  }
}

.divider {
  height: 2px;
  background-color: $dark-blue;
  width: 100%;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.left {
  width: 40%;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: 300;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

p {
  line-height: 2rem;
  text-align: justify;
  .italic {
    font-style: italic;
  }
}

.demarche-artistique {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: $small-screen-size) {
  .portrait {
    width: 100%;
  }

  .compagny {
    flex-direction: column;
  }

  .choregraph {
    .choregraph-wrap {
      display: flex;
      flex-direction: column;
    }
  }

  .intro {
    margin-left: 0px;
  }
}
