<div class="presentation">
  <div class="compagny">
    <img
      src="assets/presentation/portrait.jpg"
      alt="Portrait de la chorégraphe Estelle Bézombes"
      class="portrait"
    />
    <div class="intro">
      <span class="title">Présentation de la compagnie</span>
      <p>
        EZO est une compagnie de danse contemporaine basée en
        Auvergne-Rhône-Alpes. Elle soutient et produit les projets
        chorégraphiques de l’artiste interprète et chorégraphe Estelle Bézombes.
      </p>
      <span class="subtitle">La chorégraphe Estelle Bézombes</span>
      <p>
        Née à Grasse en 1995, Estelle est une danseuse interprète et jeune
        chorégraphe. Elle commence par la danse sur glace qu'elle pratique
        pendant sept ans puis s'investit dans la pratique de la gymnastique
        rythmique durant sept autres années avant de se tourner vers la danse
        contemporaine. Elle débute en Grèce en s'entraînant au centre Horohronos
        à Athènes, où elle présente un duo sur la scène du théâtre Dora Stratou,
        avant de revenir en France à Lyon et d'intégrer le Centre de Formation
        de Danse désoblique (CFDd). Elle obtient son EAT (examen d'aptitude
        technique) en danse contemporaine. En parallèle de ses études en danse,
        elle est diplômée de l'école d'ingénieur Centrale de Lyon en 2020.
      </p>
      <p>
        En 2021 elle intègre le programme professionnel DART DSP à Berlin auprès
        de la compagnie DART. Durant la saison 2021-2022 elle travaille, dans le
        cadre de la formation, avec les chorégraphes Fabio Liberti et le duo Dor
        Mamalia et Dariusz Nowak. Elle danse dans les pièces
        <span class="italic">Solo(s) for real</span> et
        <span class="italic">AISLING</span> qui ont été présentées sur la scène
        du Pfeffeberg theatre et Uferstudios à Berlin. Elle est également
        interprète dans la pièce
        <span class="italic">WHOAMI</span> chorégraphiée par Giada Grieco et
        présentée sur plusieurs scènes à Berlin.
      </p>
      <p>
        À son retour en France en 2022, elle rejoint en tant qu’interprète la
        compagnie CTC pour le projet <span class="italic">iN</span>. Estelle se
        lance également dans ses propres projets artistiques et réalise
        notamment une performance dansée en collaboration avec l’artiste
        plasticien Pier Fabre autour de son œuvre
        <span class="italic">Pluie de Montchal</span>. Cette œuvre in situ a été
        installée dans le cadre du festival Horizons “Arts - Nature” en Sancy
        2022. Elle crée début 2023 la compagnie EZO.
      </p>
    </div>
  </div>
  <div class="demarche-artistique">
    <span class="subtitle">Démarche artistique</span>
    <p>
      Ma démarche artistique et d’écriture chorégraphique s’appuie sur le
      ressenti de l’expérience des interprètes par rapport à une thématique qui
      touche à notre humanité. Le processus de création se veut comme un
      dialogue entre l’intériorité de ce qui est vécu et ce qu’on peut en donner
      à voir et ressentir par le corps, le mouvement, l’univers visuel et
      sonore. Le travail se construit comme une exploration des émotions et de
      la sensibilité des interprètes face à une problématique pour composer avec
      les manifestations physiques de cette recherche. La composition
      chorégraphique est marquée par l’utilisation de ruptures et par
      l’apparition de situations inattendues, laissant une empreinte marquante
      chez les spectatrices et spectateurs tout en leur laissant la pluralité
      des interprétations. L’enjeu est de les confronter à des situations
      qu’iels ont pu vivre, et de leur donner à retraverser des expériences dont
      les mémoires sont sensibles pour tenter d’ouvrir des portes à travers un
      cheminement intime, subtile et fragile, dans un double mouvement vers soi
      et vers l’autre.
    </p>
  </div>
</div>
