@import "../../styles/variables";

.compagny {
  display: flex;
  flex-direction: row;
  align-items: self-start;
  margin-bottom: 2%;
}

.presentation {
  padding: 4%;
}

.portrait {
  width: 40rem;
}

.intro {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 4%;
}

.title {
  text-transform: uppercase;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: 300;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

p {
  line-height: 2rem;
  text-align: justify;
  .italic {
    font-style: italic;
  }
}

.demarche-artistique {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: $small-screen-size) {
  .portrait {
    width: 100%;
  }
  .compagny {
    flex-direction: column;
  }

  .intro {
    margin-left: 0px;
  }
}
