<div class="montchal-page">
  <div class="montchal-title">
    <span i18n>Dialogue avec l'oeuvre Pluie de Montchal</span>
  </div>
  <div class="montchal-description">
    <span i18n
      >Performance filmée dans le cadre de l'exposition Horizons "Arts - Nature"
      en Sancy 2022</span
    >
  </div>
  <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/EwwvL8x8dOA"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
    class="video"
  ></iframe>
  <div class="montchal-paragraphe">
    <span i18n>
      Cette performance a été réalisée en juillet 2022 en collaboration avec
      l'artiste plasticien Pier Fabre et le vidéaste Dimitri Lionel. Elle
      s'inscrit dans une volonté de rencontre entre l'art plastique et la danse
      contemporaine autour du mouvement. Cette notion est au cœur du travail de
      Pier Fabre pour ces installations in situ. L'interprète en danse Estelle
      Bézombes vient dialoguer avec l'œuvre dans un duo en constante évolution.
      Les mouvements imprévisibles de la structure, manifestation visible de la
      danse du vent, créent un espace de jeu poétique et puissant.
    </span>
  </div>
  <div class="photos">
    <img
      src="assets/projects/pluie-montchal/montchal_2.jpg"
      class="photo"
      alt="Estelle dansant dans les languettes de l'œuvre"
    />
    <img
      src="assets/projects/pluie-montchal/montchal_3.jpg"
      class="photo"
      alt="Estelle dansant dans les languettes de l'œuvre"
    />
    <img
      src="assets/projects/pluie-montchal/montchal_4.jpg"
      class="photo"
      alt="Estelle dansant dans les languettes de l'œuvre"
    />
    <img
      src="assets/projects/pluie-montchal/montchal_5.jpg"
      class="photo"
      alt="Estelle dansant dans les languettes de l'œuvre"
    />
    <img
      src="assets/projects/pluie-montchal/montchal_6.JPG"
      class="photo"
      alt="Vue d'ensemble de l'œuvre, la danseuse et le photographe"
    />
    <img
      src="assets/projects/pluie-montchal/montchal_7.JPG"
      class="photo"
      alt="Estelle dansant davant la caméra"
    />
    <img
      src="assets/projects/pluie-montchal/montchal_1.jpg"
      class="photo"
      alt="Pier Fabre, Estelle Bézombes et Dimitri Lionel devant l'œuvre"
    />
  </div>
</div>
