@use "../../../styles/variables" as *;
@use "../../../styles/detail-page" as *;

.page {
  @include detail-page;
}

.title {
  @include detail-title;
}

.subtitle {
  @include detail-subtitle;
}

.video {
  width: min(100%, 60rem);
  aspect-ratio: 2 / 1;
  padding: clamp(0rem, 3vw, 4rem);
}

.paragraphe {
  @include detail-paragraphe;
}

@include detail-photo-gallery;

@media only screen and (max-width: $small-screen-size) {
  .subtitle {
    margin: 0 1rem 0 1rem;
    text-align: center;
  }

  .paragraphe {
    margin: 0;
  }
}

@include detail-photo-gallery-responsive;
