<div class="contact-header">
  <img src="assets/contact/contact-thin.jpg" class="contact-image" />
  <!-- <div class="title-container">
    <div class="title-container-child">
      <span class="title">Contact</span>
    </div>
  </div> -->
</div>
<div class="contact-page">
  <div class="contact-company">
    <div class="left">
      <div class="directrice">
        <p>Chorégraphe</p>
        <p>Estelle BÉZOMBES</p>
      </div>
      <div class="contact-mean">
        <a href="https://www.instagram.com/cie.ezo/" target="_blank">
          <img src="assets/instagram.svg" class="insta" />
        </a>
        <a href="https://www.instagram.com/cie.ezo/" class="insta-link">
          @cie.ezo</a
        >
      </div>
      <div class="contact-mean">
        <img src="assets/mail.svg" class="insta" />compagnie.ezo@gmail.com
      </div>
    </div>
    <div class="right">
      <div class="address">
        <p>Siège social de la compagnie</p>
        <p>Allée de la plage 63790 Murol</p>
      </div>
      <div class="company-infos">
        <p>N° SIRET : 923 176 663 00014</p>
        <p>APE : 90.01Z - Arts du spectacle vivant</p>
        <p>Référence entrepreneur de spectacles vivants :</p>
        <p>PLATESV-D-2023-001959</p>
      </div>
    </div>
  </div>
</div>
