<div class="musee-page">
  <div class="musee-title">
    <h1 i18n>Performance in situ Musée</h1>
  </div>
  <div class="musee-subtitle">
    <span i18n>Chorégraphiée et interprétée par Estelle Bézombes</span>
    <span i18n>Durée : 20min</span>
    <span i18n>Nuit européenne des musées</span>
    <span i18n>MEM Murol</span>
  </div>
  <img
    ngSrc="assets/projects/musee/musee_project_page.jpg"
    class="musee-image"
    alt="Performance in situ au musée de Murol"
    i18n-alt
    width="1200"
    height="800"
  />
  <div class="musee-paragraphe">
    <span i18n>
      Performance déambulatoire lors de visites nocturnes à travers les
      différentes salles du musée pour faire dialoguer les expositions avec la
      danse dans un clair-obscur vivant.
    </span>
  </div>
  <div class="photos">
    <img
      ngSrc="assets/projects/musee/musee_slide_1.jpg"
      class="photo"
      alt="Performance in situ au musée de Murol"
      width="1200"
      height="800"
    />
    <img
      ngSrc="assets/projects/musee/musee_slide_2.jpg"
      class="photo"
      alt="Performance in situ au musée de Murol"
      width="1200"
      height="800"
    />
    <img
      ngSrc="assets/projects/musee/musee_slide_3.jpg"
      class="photo"
      alt="Performance in situ au musée de Murol"
      width="1200"
      height="800"
    />
    <img
      ngSrc="assets/projects/musee/musee_slide_4.jpg"
      class="photo"
      alt="Performance in situ au musée de Murol"
      width="1200"
      height="800"
    />
    <img
      ngSrc="assets/projects/musee/musee_slide_5.jpg"
      class="photo"
      alt="Performance in situ au musée de Murol"
      width="1200"
      height="800"
    />
  </div>
</div>
<div class="additional-info">
  <div class="soutiens">
    <img
      ngSrc="assets/projects/musee/Logo-MEM.png"
      class="soutien-image"
      alt="Logo du MEM Murol"
      width="200"
      height="80"
    />
    <div class="murol">
      <img
        ngSrc="assets/soutiens/blason_murol.png"
        alt="blason de la ville de Murol"
        class="soutien-image"
        width="100"
        height="120"
      />
      Ville de Murol
    </div>
  </div>
</div>
