<div class="page">
  <div class="title">
    <h1 i18n>Tuning in to the senses</h1>
  </div>
  <div class="subtitle">
    <span i18n>Programme de recherche <i>Hylé: as a point of view</i></span>
    <span i18n>Isadora and Raymond Duncan Dance Research Center</span>
    <span i18n>Athènes, Grèce - Octobre 2024</span>
    <span i18n>Produit par Delta Pi</span>
  </div>
  <img
    ngSrc="assets/projects/tuning-in-to-the-senses/athenes/photo principale.JPG"
    class="main-picture"
    i18n-alt alt="Performance Tuning in to the senses à Athènes"
    width="1200"
    height="800"
  />
  <div class="paragraphe">
    <span i18n>
      Cette première résidence de recherche d'un mois a abouti à une performance
      participative qui propose d'impliquer le public dans son observation d'un
      espace extérieur, à la fois habité par des corps en mouvement et par une
      installation. Le public est invité à créer son cadre de vision à l'aide de
      verre, de sable et d'eau et à regarder la performance à travers celui-ci.
    </span>
  </div>
  <div class="paragraphe">
    <span i18n>
      Lors de cette rencontre, les performers partagent l'espace avec le public
      et l'invitent à observer, à s'émerveiller, à s'engager et à se mettre en
      mouvement. La création d'un cadre de vision et l'observation à travers
      celui-ci permet de décaler le regard. Le performer humain n'est plus au
      centre de la performance mais il cohabite avec les autres éléments au grès
      du focus de l'œil du public. Le public met également son corps en jeu dans
      l'espace en cherchant à observer à travers son cadre et se transforme ainsi
      en performer sans même s'en rendre compte.
    </span>
  </div>
  <div class="paragraphe">
    <span i18n>
      La performance est complétée par une installation intérieure qui peut
      s'expérimenter avant la performance pour éveiller les sens et mettre le
      corps dans un état d'écoute sensible.
    </span>
  </div>
  <div class="photos">
    <img
      ngSrc="assets/projects/tuning-in-to-the-senses/athenes/galerie photo1 .JPG"
      class="photo"
      i18n-alt alt="Galerie photo Athènes"
      width="1200"
      height="800"
    />
    <img
      ngSrc="assets/projects/tuning-in-to-the-senses/athenes/galerie photo 2.jpg"
      class="photo"
      i18n-alt alt="Galerie photo Athènes"
      width="1200"
      height="800"
    />
    <img
      ngSrc="assets/projects/tuning-in-to-the-senses/athenes/galerie photo 3.jpg"
      class="photo"
      i18n-alt alt="Galerie photo Athènes"
      width="1200"
      height="800"
    />
    <img
      ngSrc="assets/projects/tuning-in-to-the-senses/athenes/galerie4.jpg"
      class="photo"
      i18n-alt alt="Galerie photo Athènes"
      width="1200"
      height="800"
    />
    <img
      ngSrc="assets/projects/tuning-in-to-the-senses/athenes/galerie5.jpg"
      class="photo"
      i18n-alt alt="Galerie photo Athènes"
      width="1200"
      height="800"
    />
    <img
      ngSrc="assets/projects/tuning-in-to-the-senses/athenes/galerie6.jpg"
      class="photo"
      i18n-alt alt="Galerie photo Athènes"
      width="1200"
      height="800"
    />
    <img
      ngSrc="assets/projects/tuning-in-to-the-senses/athenes/galerie7.JPG"
      class="photo"
      i18n-alt alt="Galerie photo Athènes"
      width="1200"
      height="800"
    />
    <img
      ngSrc="assets/projects/tuning-in-to-the-senses/athenes/galerie9.jpg"
      class="photo"
      i18n-alt alt="Galerie photo Athènes"
      width="1200"
      height="800"
    />
    <img
      ngSrc="assets/projects/tuning-in-to-the-senses/athenes/galerie10.jpg"
      class="photo"
      i18n-alt alt="Galerie photo Athènes"
      width="1200"
      height="800"
    />
  </div>
</div>
