<div class="solo-page">
  <div class="solo-title">
    <span i18n>Seven Tries</span>
  </div>
  <div class="solo-subtitle">
    <span i18n>Solo chorégraphié et interprété par Estelle Bézombes</span>
    <span i18n>Musique d'Odalie (Sophie Griffon)</span>
    <span i18n>Durée : 15 minutes</span>
    <span i18n>Première : Août 2024</span>
  </div>
  <iframe
    class="youtube-video"
    src="https://www.youtube.com/embed/UTwx97YQI4w?si=lQ-QOkspkrMZ6fdI"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen
  ></iframe>
  <div class="solo-paragraphe">
    <span i18n>
      Le système projette son influence dans l’espace au-delà de sa position et
      façonne les possibilités du corps en mouvement. Il définit les relations
      que l’on entretient avec soi, l’autre et le monde. Le corps, entre
      tension, intensité et douceur, cherche à redéfinir son rôle.
    </span>
  </div>
  <div class="solo-paragraphe with-image">
    <img
      src="assets/creations/seven-tries/seven_tries_2.jpg"
      class="solo-image"
      alt="Estelle Bézombes interprétant son solo"
    />
    <div class="blue-frame">
      <div class="description">
        <div class="container">
          <span class="a-propos" i18n>À propos du solo</span>
          <p i18n>
            Ce solo explore la relation entre un corps en mouvement et un mobile
            blanc surmonté d’un néon lumineux, métaphore de nos relations avec
            les différents systèmes dans lesquels nous évoluons (capitaliste,
            patriarcal, colonial, néo-libéral, consumériste, écocidaire,
            <i>etc.</i>). Les interactions entre le corps et le système
            reflètent la complexité de ces relations, entre tentatives de
            détachement et retour au rôle joué au sein de ces paradigmes. Le
            système projette son influence dans l'espace sur le corps, qui
            oscille entre délicatesse et intensité. La recherche de contrastes
            dans les qualités de mouvement a été l'axe principal de cette
            création. Trouver comment le corps reste alerte lorsqu'il est
            délicat et fluide lorsqu'il est rapide et physiquement impliqué.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="solo-paragraphe with-image reversed">
    <img
      src="assets/creations/seven-tries/seven_tries_1.jpg"
      class="solo-image"
      alt="Estelle Bézombes interprétant son solo"
    />
    <div class="blue-frame">
      <div class="container representations">
        <span class="a-propos" i18n>Représentations</span>
        <ul>
          <li i18n>PLATFORM 14 en août 2024 à Berlin.</li>
          <li i18n>
            Solo Dance Contest lors du Gdański Festiwal Tańca en août 2024 en
            Pologne.
          </li>
          <li i18n>
            Tremplin <i>Corps et Graphique</i> lors du festival Le temps d'aimer
            la danse en septembre 2024 à Biarritz.
          </li>
          <li i18n>25 Gisèle Halimi le 30 novembre 2024 à Clermont-Ferrand.</li>
        </ul>
        <span class="a-propos" i18n>À venir</span>
        <ul>
          <li i18n>Aux Échappées Belles à Lyon (date à venir).</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="additional-info">
  <div class="soutiens">
    <img
      src="assets/soutiens/platform-14.png"
      class="soutien-image"
      alt="Logo du festival Platform14"
    />
    <img
      src="assets/soutiens/boom-structur.svg"
      class="soutien-image"
      alt="logo de Boom'Strucutur"
    />
    <img
      src="assets/soutiens/hallet_eghayan.png"
      class="soutien-image"
      alt="Logo du festival Platform14"
    />
    <img
      src="assets/soutiens/chatha.svg"
      class="soutien-image"
      alt="logo du studio Chatha"
    />
    <div class="murol">
      <img
        src="assets/soutiens/blason_murol.png"
        alt="blason de la ville de Murol"
        class="soutien-image"
      />
      Ville de Murol
    </div>
  </div>
</div>
