<div class="menu-panel">
  <div class="menu-trigger" (click)="isOpen = !isOpen">
    <img src="assets/menu.svg" class="menu-icon" />
  </div>
  <div class="menu" *ngIf="isOpen" [@dropDownMenu]>
    <div class="menu-item bottom-border languages">
      <button class="language-button" (click)="switchLanguageFR()">FR</button
      ><span>|</span
      ><button class="language-button" (click)="switchLanguageEN()">EN</button>
    </div>
    <div class="menu-item bottom-border">
      <a routerLink="/home" class="menu-link" (click)="closeMenu()" i18n
        >Accueil</a
      >
    </div>
    <div class="menu-item bottom-border">
      <a routerLink="/about" class="menu-link" (click)="closeMenu()" i18n
        >Présentation</a
      >
    </div>
    <div class="bottom-border">
      <app-creations-menu (menuClosed)="closeMenu()"></app-creations-menu>
    </div>
    <div class="bottom-border">
      <app-projects-menu (menuClosed)="closeMenu()"></app-projects-menu>
    </div>
    <div class="menu-item bottom-border">
      <a routerLink="/contact" class="menu-link" (click)="closeMenu()" i18n
        >Contact</a
      >
    </div>
  </div>
</div>
