<div class="tuning-in-to-the-senses-page">
  <div class="tuning-in-to-the-senses-title">
    <span i18n>Tuning in to the senses</span>
  </div>
  <div class="tuning-in-to-the-senses-description">
    <span i18n
      >Projet de recherche et de performance entre arts visuels et
      mouvement</span
    >
  </div>
  <img
    src="assets/projects/tuning-in-to-the-senses/main_photo.JPG"
    class="main-picture"
    alt="Estelle Bézombes interprétant son solo"
  />
  <div class="tuning-in-to-the-senses-paragraphe">
    <span i18n>
      Inspirée par le mouvement écoféministe et à la croisée des arts visuels et
      de la danse, la recherche relie les corps à leur environnement au travers
      du sable et du verre. Les espaces créés sont conçus pour nous permettre
      d'être à l'écoute de nos sens tout en tissant des liens réciproques avec
      ce qui nous entoure. La recherche peut se réaliser sous la forme d’une
      performance participative dans laquelle le public est invité à observer,
      s'émerveiller, s'engager et se mouvoir en groupe. La performance est
      complétée par des installations qui sont partie intégrante de
      l’expérience.
    </span>
  </div>
  <div class="photos">
    <img
      src="assets/projects/tuning-in-to-the-senses/galerie1.JPG"
      class="photo"
      alt="Vue globale de la performance"
    />
    <img
      src="assets/projects/tuning-in-to-the-senses/galerie2.jpg"
      class="photo"
      alt="Photo d'un cadre avec le ciel en fond"
    />
    <img
      src="assets/projects/tuning-in-to-the-senses/galerie3.jpg"
      class="photo"
      alt="Photo d'un cadre avec la performance en fond"
    />
    <img
      src="assets/projects/tuning-in-to-the-senses/galerie4.jpg"
      class="photo"
      alt="Portant avec des morceaux de verres accrochés à des fils"
    />
    <img
      src="assets/projects/tuning-in-to-the-senses/galerie5.jpg"
      class="photo"
      alt="Élément visuel de la performance en intérieur, pris au soleil"
    />
    <img
      src="assets/projects/tuning-in-to-the-senses/galerie6.jpg"
      class="photo"
      alt="Élément visuel de la performance en intérieur"
    />
    <img
      src="assets/projects/tuning-in-to-the-senses/galerie7.JPG"
      class="photo"
      alt="Espace de préparation des cadres avec le sable et l'eau"
    />
    <img
      src="assets/projects/tuning-in-to-the-senses/galerie9.jpg"
      class="photo"
      alt="Les danseuses devant la structure en verre brisé"
    />
    <img
      src="assets/projects/tuning-in-to-the-senses/galerie10.jpg"
      class="photo"
      alt="La structure en verre brisé"
    />
  </div>
  <div class="tuning-in-to-the-senses-paragraphe">
    <span i18n>
      Résidence de recherche et présentation au
      <b>Isadora and Raymond Duncan Dance Center</b> à Athènes en octobre 2024,
      au sein du programme de recherche <i>Hylé: as a point of view</i>, Produit
      par <b>Delta Pi</b>.
    </span>
  </div>
</div>
