<div class="page">
  <div class="title">
    <h1 i18n>Tuning in to the senses</h1>
  </div>
  <div class="subtitle">
    <span i18n
      >Projet de recherche, laboratoire participatif et performance entre arts
      visuels et mouvement.</span
    >
  </div>
  <div class="paragraphe">
    <span i18n>
      Inspirée par le mouvement écoféministe et à la croisée des arts visuels et
      de la danse, la recherche relie les corps à leur environnement au travers
      du sable et du verre. Les expériences créées sont conçues pour nous
      permettre d'être à l'écoute de nos sens tout en tissant des liens
      réciproques avec ce qui nous entoure. La recherche peut se déployer sous
      différentes formes (laboratoire, discussion, performance, installation...)
      avec pour essence une dimension locale. Elle s'imprègne et s'inspire du
      lieu qui l'accueille et des personnes qui y prennent part.
    </span>
  </div>
  <div class="sub-projects">
    <article class="sub-project-card">
      <img
        ngSrc="assets/projects/tuning-in-to-the-senses/athenes/photo principale.JPG"
        i18n-alt alt="Performance Tuning in to the senses à Athènes"
        class="sub-project-image"
        width="1200"
        height="800"
      />
      <div class="sub-project-details">
        <h2 class="sub-project-title" i18n>Programme de recherche <i>Hylé: as a point of view</i></h2>
        <span class="sub-project-info" i18n>Isadora and Raymond Duncan Dance Research Center</span>
        <span class="sub-project-info" i18n>Athènes, Grèce - Octobre 2024</span>
        <span class="sub-project-info" i18n>Produit par Delta Pi</span>
        <button
          i18n
          routerLink="/projects/tuning-in-to-the-senses/athenes"
          class="know-more"
        >
          En savoir plus
        </button>
      </div>
    </article>
    <article class="sub-project-card">
      <img
        ngSrc="assets/projects/tuning-in-to-the-senses/seed/photo_principale.JPG"
        i18n-alt alt="Programme SEED"
        class="sub-project-image"
        width="1200"
        height="800"
      />
      <div class="sub-project-details">
        <h2 class="sub-project-title" i18n>Programme européen SEED - Social and Ecological Engagement through Dance</h2>
        <span class="sub-project-info" i18n>L'Éveilleur scop à Avignon, France et liminal access à Athènes, Grèce</span>
        <span class="sub-project-info" i18n>Saison 2025-2026</span>
        <button
          i18n
          routerLink="/projects/tuning-in-to-the-senses/seed"
          class="know-more"
        >
          En savoir plus
        </button>
      </div>
    </article>
  </div>
</div>
