  <div class="dropdown">
    <a class="menu-item dropbtn" routerLink="/projects">Projets</a>
    <div class="dropdown-content">
      <a routerLink="/l-horizon-est-fait-de-petits-cailloux">L'horizon est fait de petits cailloux</a>
      <a routerLink="/dialogue-avec-l-œuvre-pluie-de-montchal">Dialogue avec l'oeuvre Pluie de Montchal</a>
      <a routerLink="/whoami">WHOMAI</a>
      <a routerLink="/aisling">AISLING</a>
      <a routerLink="/solos-for-real">Solo(s) for real</a>
      <a routerLink="/ces-flux-qui-nous-portent-et-nous-emportent">Ces flux qui nous portent et nous emportent</a>
      <a routerLink="/festival-karavel">Festival Karavel</a>
      <a routerLink="/one-breath">One Breath</a>
    </div>
  </div>