@import '../../styles/variables';

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  z-index: 1;
  transform: translate(0%, 0%);
  width: max-content;
  padding-top: 4px;
}

.dropdown-content a {
  color: black;
  padding: 8px 1rem 8px 1rem;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {background-color: $background-grey;}

.dropdown:hover .dropdown-content {display: block;}
