@import "../styles/variables";

.headerspace {
  height: 200px;
  margin: 2rem 0rem;
}

app-header {
  background-color: white;
  z-index: 1;
}

@media only screen and (max-width: $small-screen-size) {
  .headerspace {
    height: 13rem;
  }
}
