<div class="page">
  <div class="title">
    <span i18n>Ateliers</span>
  </div>
  <div class="subtitle">
    <span i18n
      >La compagnie propose des ateliers de pratique autour de sa démarche
      artistique à des publics variés.</span
    >
  </div>
  <img
    class="home-image"
    src="assets/workshops/aurillac.jpg"
    alt="Estelle donnant un atelier de danse à la Manufacture d'Aurillac"
  />
  <div class="paragraphe">
    <p i18n>
      La compagnie EZO ancre ses créations dans des questionnements sur nos
      façons contemporaines de vivre notre humanité. Des interrogations sur ce
      qui fait groupe, sur notre rapport au temps, au vivant et aux institutions
      entre autres constituent le creuset de la recherche. Il apparaît essentiel
      de pouvoir partager avec des publics diversifiés à la fois ces
      problématiques et les façons spécifiques de les traduire à travers
      l’écriture chorégraphique de la compagnie. C’est donc dans la perspective
      d’un enrichissement réciproque que la compagnie saisit les opportunités de
      rencontre avec les publics, que ce soit par des actions de médiation, des
      ateliers, des bords de plateau ou tout autre forme. Ces temps s’appuient
      sur le partage et la transmission. Ils constituent des ouvertures aux
      processus de création de la compagnie, qui en retour accueille les
      impressions en miroir des spectateurs·rices et/ou pratiquant·e·s. Le
      travail artistique se développe ainsi en articulant des temps de
      recherche, et des moments d’ouverture, de transmission de la création en
      train de s’élaborer.
    </p>
  </div>
  <div class="paragraphe with-image">
    <img
      src="assets/workshops/murol.jpeg"
      class="image"
      alt="Estelle donnant un atelier de danse aux enfants de l'école primaire de murol"
    />
    <div class="blue-frame">
      <div class="description">
        <div class="container">
          <span class="a-propos" i18n>Ateliers réalisés</span>
          <ul>
            <li i18n>
              Novembre 2023 : workshop pour le Jeune Ballet Chorégraphique Le
              Cycle Lyon (autour du processus chorégraphique du solo
              <i>L’horizon est fait de petits cailloux</i>)
            </li>
            <li i18n>
              Janvier 2024 : stage tous niveaux au Centre Chorégraphique Le
              Cycle Lyon (autour du processus chorégraphique du solo
              <i>L’horizon est fait de petits cailloux</i>)
            </li>
            <li i18n>
              Mars 2024 : workshop avec les danseurs en formation de la
              Manufacture d’Aurillac (autour du processus chorégraphique de la
              pièce <i>Les méduses ne nagent jamais seules</i>)
            </li>
            <li i18n>
              Novembre 2024 : ateliers avec des femmes du centre 25-Gisèle
              Halimi à Clermont-Ferrand
            </li>
            <li i18n>
              Novembre 2024 : ateliers avec les élèves (CP-CE1-CE2) de l’école
              de Murol
            </li>
            <li i18n>
              Décembre 2024 : workshop avec les danseurs en formation de la
              compagnie Hallet Eghayan à Lyon (autour du processus
              chorégraphique de la pièce
              <i>Les méduses ne nagent jamais seules</i>)
            </li>
            <li i18n>
              Février 2025 : workshop avec les danseuses en formation de la Cité
              Chorégraphique (autour du processus chorégraphique du solo
              <i>Seven tries</i>)
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
