<div class="solo-page">
  <div class="solo-title">
    <span>L'horizon est fait de petits cailloux</span>
  </div>
  <div class="solo-subtitle">
    <span>Solo chorégraphié et interprété par Estelle Bézombes</span>
    <span>Musique composée par Inès Murer</span>
  </div>
  <iframe
    class="video"
    src="https://www.youtube.com/embed/JvjMvCJNCVY"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
  <div class="solo-paragraphe">
    <span>
      C’est un horizon qui se dessine au loin et qui me guide. Je marche vers
      lui pleine d’espoir, parfois il semble même se rapprocher. Il a certains
      jours la couleur rouge orangée d’une flamme qui danse le soir. D’autres
      jours je ne le vois même plus, il est caché par une épaisse couche de
      brume. Pourtant, je continue d'avancer, en observant attentivement chaque
      pas. Je prends conscience des petits cailloux qui constituent le chemin
      sur lequel je suis. Je les ressens sous la plante de mes pieds et jusqu’au
      plus profond de ma chair. La sensation se propage dans tout mon corps
      jusqu’à me faire sourire. Les petits cailloux sont autant de rencontres,
      de pensées, de rires, de douleurs et de chagrins qui m’animent chaque
      jour.
    </span>
  </div>
  <div class="separation-line"></div>
  <div class="solo-paragraphe">
    <span
      >Cette pièce chorégraphique courte est un solo de 8 minutes créé en 2022
      et qui a fait sa première en janvier 2023 à la Manufacture d'Aurillac. La
      compagnie a bénéficié du soutien de DART Dance Company pour la recherche
      de création et de la Manufacture d'Aurillac pour l'accueil en résidence
      lumière.</span
    >
  </div>
  <div class="solo-paragraphe with-image">
    <img
      src="assets/creations/solo/solo-1.JPG"
      class="solo-image"
      alt="Estelle Bézombes interprétant son solo"
    />
    <div class="blue-frame">
      <div class="container">
        <span class="a-propos">À propos du solo</span>
        <p>
          La pièce explore la relation constante qui existe entre le sens que
          nous donnons à notre existence et notre quotidien. Alors que le
          premier est un horizon plus ou moins lointain qui nous guide, le
          second est la seule réalité tangible qu'il nous reste en toutes
          circonstances. Le corps est alors l'expression de ces deux dimensions
          du temps qui ne peuvent s'exprimer l'une sans l'autre. Il dialogue
          avec un univers sonore reflétant la construction d’un possible horizon
          tout en laissant la place aux émotions qui le traversent, d’exister
          avec intensité.
        </p>
        <p>
          Le processus de création, à la fois chorégraphique et musical, s'est
          construit comme une introspection allant à la rencontre des éléments
          essentiels à la construction de notre chemin, tout en laissant le
          mouvement et la musique se teinter des humeurs et émotions du moment.
          La recherche a ainsi permis de porter un regard nouveau sur ses
          ressentis et états du présent, leur laissant une place pour exister et
          s'exprimer pleinement.
        </p>
      </div>
    </div>
  </div>
  <div class="solo-paragraphe with-image reversed">
    <div class="blue-frame">
      <div class="container">
        <span class="a-propos">Représentations</span>
        <ul>
          <li>
            Festival Jours de danse(s) en janvier 2023 organisé par le conseil
            départemental du Cantal
          </li>
          <li>
            27ème édition du concours Internationales Solo Tanz Theatre
            Stuttgart en mars 2023
          </li>
          <li>PLATFORM 14 en août 2023 à Berlin</li>
          <li>Festival d’Aurillac en août 2023</li>
          <li>Solo Contemporary Dance Festival Ankara en août 2023</li>
        </ul>
        <p>À venir</p>
        <ul>
          <li>
            Présentation La Manufacture CDCN Nouvelle Aquitaine Bordeaux - Stage
            Passeurs de Danse
          </li>
        </ul>
      </div>
    </div>
    <img
      src="assets/creations/solo/solo-2.jpg"
      class="solo-image"
      alt="Estelle Bézombes interprétant son solo"
    />
  </div>
</div>
<div class="additional-info">
  <div class="soutiens">
    <img
      src="assets/soutiens/pole-en-scenes-logo.png"
      class="soutien-image"
      alt="logo de Pôle Pik"
    />
    <img
      src="assets/soutiens/cnd_blanc.png"
      class="soutien-image"
      alt="logo du CND"
    />
    <img
      src="assets/soutiens/logo-blanc-manufacture.png"
      class="soutien-image"
      alt="logo de la Manufacture d’Aurillac"
    />
    <img
      src="assets/soutiens/institut-francais-turquie-web.jpg"
      class="soutien-image"
      alt="logo de l'institu français de Turquie"
    />
    <img
      src="assets/soutiens/dart.png"
      class="soutien-image"
      alt="logo de DART Dance Company"
    />
    <div class="murol">
      <img
        src="assets/soutiens/blason_murol.png"
        alt="blason de la ville de Murol"
        class="soutien-image"
      />
      Ville de Murol
    </div>
  </div>
</div>
