<div class="project-page">
  <div class="project-title">
    <span>L'horizon est fait de petits cailloux</span>
  </div>
  <div class="project-description">
    <span>Solo chorégraphié et interprété par Estelle Bézombes</span>
    <span>Musique composée par Inès Murer</span>
  </div>
  <iframe class="video" src="https://www.youtube.com/embed/JvjMvCJNCVY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
