@use "../../../styles/variables" as *;
@use "../../../styles/detail-page" as *;

.page {
  @include detail-page;
}

.title {
  @include detail-title;
}

.subtitle {
  @include detail-subtitle;
}

.youtube-video {
  @include detail-youtube-video;
}

.platform-14-video {
  margin: 2rem 0;
  max-height: 70vh;
  max-width: 100%;
}

.paragraphe {
  @include detail-paragraphe;
}

.with-image {
  @include detail-with-image;
}

.reversed {
  @include detail-reversed;
}

.little-margin-right {
  margin-right: 2rem;
}

.little-margin-left {
  margin-left: 2rem;
}

.separation-line {
  @include detail-separation-line;
}

.image {
  @include detail-image;
}

.a-propos {
  @include detail-a-propos;
}

.blue-frame {
  @include detail-blue-frame;
}

.description {
  @include detail-description;
}

.container {
  @include detail-container;
}

.container.representations {
  @include detail-representations;
}

.additional-info {
  @include detail-additional-info;
  overflow-x: hidden;

  ::-webkit-scrollbar {
    display: none;
  }
}

.file-button {
  @include detail-file-button;
}

.file-icon {
  height: 1.5rem;
}

@media only screen and (max-width: $small-screen-size) {
  .additional-info {
    gap: 0;
  }

  .subtitle {
    margin: 0 1rem 2rem 1rem;
    text-align: center;

    span:first-child {
      margin-bottom: 1rem;
    }
  }

  .image {
    height: fit-content;
    width: 100%;
  }

  .with-image {
    height: fit-content;
    flex-direction: column;
  }

  .reversed {
    flex-direction: column;
  }

  .container {
    margin: 0;
    padding: 2rem;
  }
}
