<div class="creations">
  <div class="creation-card">
    <img
      src="assets/creations/moon_souls/moon_souls_3_paysage.jpg"
      alt="Estelle et Guillaume interprétant leur duo Moon Souls"
      class="creation-image"
    />
    <div class="creation-details">
      <div class="creation-header">
        <span class="creation-title" i18n>Moon Souls</span>
        <span class="creation-subtitle" i18n>Création 2026</span>
      </div>
      <span class="creation-description" i18n
        >Projet de duo chorégraphié et interprété par Estelle Bézombes et
        Guillaume Lemoine.</span
      >
      <button routerLink="/moon-souls" class="know-more">
        <span i18n>En savoir plus</span>
      </button>
    </div>
  </div>
  <div class="creation-card">
    <img
      src="assets/creations/meduses/balancier.jpg"
      alt="Plusieurs danseurs dans le processus de création chorégraphique"
      class="creation-image"
    />
    <div class="creation-details">
      <div class="creation-header">
        <span class="creation-title" i18n
          >Les méduses ne nagent jamais seules</span
        >
        <span class="creation-subtitle" i18n>Création 2024 - 2025</span>
      </div>
      <span class="creation-description" i18n
        >Pièce pour cinq interprètes chorégraphiée par Estelle Bézombes sur une
        bande son originale composée par Odalie (Sophie Griffon).</span
      >
      <button
        routerLink="/les-meduses-ne-nagent-jamais-seules"
        class="know-more"
      >
        <span i18n>En savoir plus</span>
      </button>
    </div>
  </div>
  <div class="creation-card">
    <img
      src="assets/creations/seven-tries/seven_tries_4.jpg"
      alt="Estelle Bézombes interprétant son solo Seven Tries"
      class="creation-image"
    />
    <div class="creation-details">
      <div class="creation-header">
        <span class="creation-title" i18n>Seven Tries</span>
        <span class="creation-subtitle" i18n>Création 2024</span>
      </div>
      <span class="creation-description" i18n
        >Nouveau solo chorégraphié et interprété par Estelle Bézombes sur une
        musique d’Odalie (Sophie Griffon).
      </span>
      <button routerLink="/seven-tries" class="know-more" i18n>
        En savoir plus
      </button>
    </div>
  </div>
  <div class="creation-card">
    <img
      src="assets/creations/solo/solo_1.jpg"
      alt="Estelle Bézombes interprétant son solo"
      class="creation-image"
    />
    <div class="creation-details">
      <div class="creation-header">
        <span class="creation-title" i18n
          >L'horizon est fait de petits cailloux</span
        >
        <span class="creation-subtitle" i18n>Création 2023</span>
      </div>
      <span class="creation-description" i18n
        >Solo chorégraphié et interprété par Estelle Bézombes sur une bande son
        originale composée par Inès Murer.
      </span>
      <button
        routerLink="/l-horizon-est-fait-de-petits-cailloux"
        class="know-more"
        i18n
      >
        En savoir plus
      </button>
    </div>
  </div>
</div>
