<div class="creations">
  <div class="creation-card">
    <img
      src="assets/creations/meduses/meduses_1.JPG"
      alt="Plusieurs danseurs dans le processus de création chorégraphique"
      class="creation-image"
    />
    <div class="creation-details">
      <div class="creation-header">
        <span class="creation-title">Les méduses ne nagent jamais seules</span>
        <span class="creation-subtitle">Création 2024</span>
      </div>
      <span class="creation-description"
        >Projet de pièce chorégraphique pour cinq interprètes destinée à être
        jouée sur plateau. Ce projet explore les notions de différence, rejet et
        discrimination à travers le prisme de l’expérience des interprètes et la
        recherche anthropologique et psychosociale de ces comportements.</span
      >
      <button
        routerLink="/les-meduses-ne-nagent-jamais-seules"
        class="know-more"
      >
        <span>En savoir plus</span>
      </button>
    </div>
  </div>
  <div class="creation-card">
    <img
      src="assets/creations/solo/solo_1.jpg"
      alt="Estelle Bézombes interprétant son solo"
      class="creation-image"
    />
    <div class="creation-details">
      <div class="creation-header">
        <span class="creation-title"
          >L'horizon est fait de petits cailloux</span
        >
        <span class="creation-subtitle">Création 2023</span>
      </div>
      <span class="creation-description"
        >Cette pièce chorégraphique courte est un solo de 8 minutes chorégraphié
        et interprété par Estelle Bézombes sur une bande son originale composée
        par Inès Murer.
      </span>
      <button
        routerLink="/l-horizon-est-fait-de-petits-cailloux"
        class="know-more"
      >
        En savoir plus
      </button>
    </div>
  </div>
</div>
