<div class="creations">
  <article class="creation-card">
    <img
      ngSrc="assets/creations/moon_souls/moon_souls_3_paysage.jpg"
      alt="Estelle et Guillaume interprétant leur duo Moon Souls"
      class="creation-image"
      width="1200"
      height="800"
      priority
    />
    <div class="creation-details">
      <div class="creation-header">
        <h2 class="creation-title" i18n>Moon Souls</h2>
        <h3 class="creation-subtitle" i18n>Création 2026</h3>
      </div>
      <span class="creation-description" i18n
        >Projet de duo chorégraphié et interprété par Estelle Bézombes et
        Guillaume Lemoine.</span
      >
      <button routerLink="/creations/moon-souls" class="know-more" i18n>
        En savoir plus
      </button>
    </div>
  </article>
  <article class="creation-card">
    <img
      ngSrc="assets/creations/meduses/balancier.jpg"
      alt="Plusieurs danseurs dans le processus de création chorégraphique"
      class="creation-image"
      width="1200"
      height="800"
    />
    <div class="creation-details">
      <div class="creation-header">
        <h2 class="creation-title" i18n
          >Les méduses ne nagent jamais seules</h2
        >
        <h3 class="creation-subtitle" i18n>Création 2024 - 2025</h3>
      </div>
      <span class="creation-description" i18n
        >Pièce pour cinq interprètes chorégraphiée par Estelle Bézombes sur une
        bande son originale composée par Odalie (Sophie Griffon).</span
      >
      <button
        routerLink="/creations/les-meduses-ne-nagent-jamais-seules"
        class="know-more"
        i18n
      >
        En savoir plus
      </button>
    </div>
  </article>
  <article class="creation-card">
    <img
      ngSrc="assets/creations/seven-tries/seven_tries_4.jpg"
      alt="Estelle Bézombes interprétant son solo Seven Tries"
      class="creation-image"
      width="1200"
      height="800"
    />
    <div class="creation-details">
      <div class="creation-header">
        <h2 class="creation-title" i18n>Seven Tries</h2>
        <h3 class="creation-subtitle" i18n>Création 2024</h3>
      </div>
      <span class="creation-description" i18n
        >Nouveau solo chorégraphié et interprété par Estelle Bézombes sur une
        musique d'Odalie (Sophie Griffon).
      </span>
      <button routerLink="/creations/seven-tries" class="know-more" i18n>
        En savoir plus
      </button>
    </div>
  </article>
  <article class="creation-card">
    <img
      ngSrc="assets/creations/solo/solo_1.jpg"
      alt="Estelle Bézombes interprétant son solo"
      class="creation-image"
      width="1200"
      height="800"
    />
    <div class="creation-details">
      <div class="creation-header">
        <h2 class="creation-title" i18n
          >L'horizon est fait de petits cailloux</h2
        >
        <h3 class="creation-subtitle" i18n>Création 2023</h3>
      </div>
      <span class="creation-description" i18n
        >Solo chorégraphié et interprété par Estelle Bézombes sur une bande son
        originale composée par Inès Murer.
      </span>
      <button
        routerLink="/creations/l-horizon-est-fait-de-petits-cailloux"
        class="know-more"
        i18n
      >
        En savoir plus
      </button>
    </div>
  </article>
</div>
