<div class="page">
  <div class="title">
    <span i18n>Moon Souls</span>
  </div>
  <div class="subtitle">
    <span i18n
      >Duo chorégraphié et interprété par Estelle Bézombes et Guillaume
      Lemoine</span
    >
    <span i18n>Création 2026</span>
  </div>
  <img
    class="home-image"
    src="assets/creations/moon_souls/moon_souls_3_paysage.jpg"
    alt="Estelle et Guillaume interprétant leur duo Moon Souls"
  />
  <div class="paragraphe with-image">
    <img
      src="assets/creations/moon_souls/moon_souls_2.jpg"
      class="image"
      alt="Estelle et Guillaume interprétant leur duo Moon Souls"
    />
    <div class="blue-frame">
      <div class="description">
        <div class="container">
          <span class="a-propos" i18n>À propos du duo</span>
          <p i18n>
            Le duo déconstruit les stéréotypes de genre dans la relation
            femme/homme, en explorant une collaboration sans hiérarchie. Inspiré
            par le mythe d’Aristophane dans Le Banquet de Platon, il propose une
            quête poétique où les corps se cherchent et se découvrent sans rôle
            prédéfini, dans un jeu ludique et décalé. Le format de la pièce,
            mêlant gestes quotidiens et musiques pop, vise à créer une proximité
            avec le public, tout en développant un imaginaire neuf.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="paragraphe with-image reversed">
    <img
      src="assets/creations/moon_souls/moon_souls_1.jpg"
      class="image"
      alt="Estelle et Guillaume interprétant leur duo Moon Souls"
    />
    <div class="blue-frame">
      <div class="container representations">
        <span class="a-propos" i18n>Étapes de travail</span>
        <ul>
          <li i18n>
            Sélection pour les Spectacles Sauvages dans le cadre du festival
            Signes de Printemps 2025 au Regard du Cygne à Paris. Présentation du
            travail en cours en mars 2025.
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="additional-info">
  <div class="soutiens">
    <img
      src="assets/soutiens/hallet_eghayan.png"
      class="soutien-image"
      alt="Logo de la compagnie Hallet Eghayan"
    />
    <img
      src="assets/soutiens/regard-du-cygne.png"
      class="soutien-image"
      alt="logo du Regard Du Cygne"
    />
    <div class="murol">
      <img
        src="assets/soutiens/blason_murol.png"
        alt="blason de la ville de Murol"
        class="soutien-image"
      />
      Ville de Murol
    </div>
  </div>
</div>
