@use "../../../styles/variables" as *;
@use "../../../styles/detail-page" as *;

.home-image {
  width: min(100%, 60rem);
  max-width: 100%;
  padding: clamp(0rem, 3vw, 4rem);
  box-sizing: border-box;
}

.page {
  @include detail-page;
}

.title {
  @include detail-title;
}

.subtitle {
  @include detail-subtitle;
}

.image {
  @include detail-image;
}

.paragraphe {
  @include detail-paragraphe;
}

.with-image {
  @include detail-with-image;
}

.reversed {
  @include detail-reversed;
}

.little-margin-right {
  margin-right: 2rem;
}

.little-margin-left {
  margin-left: 2rem;
}

.separation-line {
  @include detail-separation-line;
}

.a-propos {
  @include detail-a-propos;
  margin-bottom: 2rem;
}

.blue-frame {
  @include detail-blue-frame;
}

.description {
  @include detail-description;
}

.container {
  @include detail-container;
  justify-content: center;
}

.container.representations {
  @include detail-representations;
}

.additional-info {
  @include detail-additional-info;
  overflow: hidden;
  box-sizing: border-box;

  ::-webkit-scrollbar {
    display: none;
  }
}

@media only screen and (max-width: $small-screen-size) {
  .additional-info {
    gap: 0;
  }

  .subtitle {
    margin: 0 1rem 2rem 1rem;
    text-align: center;

    span:first-child {
      margin-bottom: 1rem;
    }
  }

  .image {
    height: fit-content;
    width: 100%;
  }

  .with-image {
    height: fit-content;
    flex-direction: column;
  }

  .reversed {
    flex-direction: column;
  }

  .container {
    margin: 0;
    padding: 2rem;
  }
}
