<div class="page">
  <div class="title">
    <h1 i18n>Tuning in to the senses</h1>
  </div>
  <div class="subtitle">
    <span i18n>Programme européen SEED - Social and Ecological Engagement through Dance</span>
    <span i18n>L'Éveilleur scop à Avignon, France et liminal access à Athènes, Grèce</span>
    <span i18n>Saison 2025-2026</span>
  </div>
  <img
    ngSrc="assets/projects/tuning-in-to-the-senses/seed/photo_principale.JPG"
    class="main-picture"
    i18n-alt alt="Programme SEED"
    width="1200"
    height="800"
  />
  <div class="paragraphe">
    <span i18n>
      Le programme SEED vise à établir une nouvelle approche en matière de
      durabilité écologique, d'accessibilité et d'inclusion dans la danse. Il se
      déploie sur plusieurs phases, avec deux résidences pédagogiques qui ont eu
      lieu entre octobre et novembre 2025 à Avignon et Athènes et des
      laboratoires d'exploration entre janvier et mars 2026.
    </span>
  </div>
  <div class="paragraphe">
    <span i18n>
      Pour la phase de laboratoire, Estelle a proposé une série d'ateliers qui
      invitent à reconfigurer l'espace scénique en un lieu partagé, adaptable, où
      chacun peut trouver sa place. La proposition mobilise différents canaux
      sensoriels - du toucher au mouvement, de la matière au geste, de l'écoute à
      l'image - afin d'ouvrir des chemins multiples pour entrer dans la pratique
      et la rendre accessible à des participants aux sensibilités variées.
      L'objectif est de réfléchir ensemble à des manières de créer du lien entre
      humains et non-humains, dans un espace d'expérience commun, sensible et
      inclusif afin de repenser les relations entre êtres vivants dans des formes
      non hiérarchiques, sans dominations.
    </span>
  </div>
  <div class="photos">
    <img
      ngSrc="assets/projects/tuning-in-to-the-senses/seed/BYYI5354.JPG"
      class="photo"
      i18n-alt alt="Atelier SEED"
      width="1200"
      height="800"
    />
    <img
      ngSrc="assets/projects/tuning-in-to-the-senses/seed/CTHU0900.JPG"
      class="photo"
      i18n-alt alt="Atelier SEED"
      width="1200"
      height="800"
    />
    <img
      ngSrc="assets/projects/tuning-in-to-the-senses/seed/KGFT9327.JPG"
      class="photo"
      i18n-alt alt="Atelier SEED"
      width="1200"
      height="800"
    />
    <img
      ngSrc="assets/projects/tuning-in-to-the-senses/seed/ORUM8324.JPG"
      class="photo"
      i18n-alt alt="Atelier SEED"
      width="1200"
      height="800"
    />
    <img
      ngSrc="assets/projects/tuning-in-to-the-senses/seed/OXCG4240.JPG"
      class="photo"
      i18n-alt alt="Atelier SEED"
      width="1200"
      height="800"
    />
    <img
      ngSrc="assets/projects/tuning-in-to-the-senses/seed/TIBB8053.JPG"
      class="photo"
      i18n-alt alt="Atelier SEED"
      width="1200"
      height="800"
    />
    <img
      ngSrc="assets/projects/tuning-in-to-the-senses/seed/TWWS5169.JPG"
      class="photo"
      i18n-alt alt="Atelier SEED"
      width="1200"
      height="800"
    />
    <img
      ngSrc="assets/projects/tuning-in-to-the-senses/seed/IMG_7190.jpg"
      class="photo"
      i18n-alt alt="Atelier SEED"
      width="1200"
      height="800"
    />
    <img
      ngSrc="assets/projects/tuning-in-to-the-senses/seed/IMG_7197.jpg"
      class="photo"
      i18n-alt alt="Atelier SEED"
      width="1200"
      height="800"
    />
    <img
      ngSrc="assets/projects/tuning-in-to-the-senses/seed/IMG_7246.jpg"
      class="photo"
      i18n-alt alt="Atelier SEED"
      width="1200"
      height="800"
    />
  </div>
</div>
