@import "styles/variables.scss";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  font-family: Avenir;
  margin: 0px;
}

.row {
  display: flex;
  flex-direction: row;
}

.menu-item:hover {
  text-decoration: underline;
}

@font-face {
  font-family: "Avenir";
  src: local("Avenir"),
    url(./assets/font/AvenirNextCyr-Light.ttf) format("truetype");
}
html,
body {
  height: 100%;
  margin: 0;
  font-family: Avenir, Roboto, "Helvetica Neue", sans-serif;
}

.separation-line {
  height: 2px;
  background-color: $dark-blue;
}

/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $dark-blue;
  border-radius: 10px;
}
@media only screen and (max-width: $small-screen-size) {
  .artist-modal-panel {
    max-height: 90%;
    overflow-y: auto;
  }
}
