<div class="jeune-public-page">
  <div class="jeune-public-title">
    <h1 i18n>Performance jeune public</h1>
  </div>
  <div class="subtitle">
    <span i18n>Chorégraphiée et interprétée par Estelle Bézombes</span>
    <span i18n>Durée : 15min</span>
    <span i18n>Dès le plus jeune âge</span>
  </div>
  <div class="content-layout">
    <iframe
      width="315"
      height="560"
      src="https://www.youtube.com/embed/g9PZFAczCu4"
      title="Vidéo : Performance jeune public - Compagnie EZO"
      i18n-title
      frameborder="0"
      allow="
        accelerometer;
        autoplay;
        clipboard-write;
        encrypted-media;
        gyroscope;
        picture-in-picture;
        web-share;
      "
      allowfullscreen
      class="video"
    ></iframe>
    <div class="right-column">
      <div class="jeune-public-paragraphe">
        <span i18n>
          Cette performance invite les enfants et les adultes à découvrir la danse
          contemporaine à travers deux histoires en mouvement.
          <i>La métamorphose</i> met en scène une créature vêtue d'une longue jupe
          irisée, qui se transforme pour déployer ses ailes dans l'espace.
          <i>Retrouver le chemin</i>, dévoile des foulards qui créent un espace de
          jeu dansant à partager avec les enfants. Ces deux histoires emmènent le
          public dans un univers où les matières, couleurs et textures guident la
          rencontre.
        </span>
      </div>
      <div class="blue-frame">
        <div class="container representations">
          <h2 class="a-propos" i18n>Représentations</h2>
          <ul>
            <li i18n>
              Brunchs artistiques Scènes Ôtrement théâtre L'île Ô Lyon
              <ul>
                <li>
                  2025 : 22 mars, 6 avril, 13 avril, 12 octobre, 2 novembre, 30
                  novembre
                </li>
                <li>2026 : 29 mars, 12 avril</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="additional-info">
  <app-supporters [keys]="['ileO']" />
</div>
