<div class="meduses-page">
  <div class="meduses-title">
    <span i18n>les méduses ne nagent jamais seules</span>
  </div>
  <div class="meduses-subtitle">
    <span i18n
      >Pièce pour cinq interprètes chorégraphiée par Estelle Bézombes</span
    >
    <span i18n>Musique composée par Odalie (Sophie Griffon)</span>
    <span i18n>Durée : 30 minutes</span>
    <span i18n>Création 2024-2025</span>
  </div>
  <iframe
    class="youtube-video"
    src="https://www.youtube.com/embed/hVyVmXkr50g?si=iG5rRKseLOUhmEmH"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen
  ></iframe>
  <div class="meduses-paragraphe">
    <span i18n
      >À partir d’un mouvement de balancier hypnotique qui se propage parmi les
      danseurs, des liens se font et se défont. Dans cet espace, qu'ils ne
      quitteront plus pendant la durée de ce voyage chorégraphique, les danseurs
      explorent les possibilités d'interaction entre eux. Nous les suivons dans
      la construction du groupe, dans une exploration sensible et physique des
      mécanismes humains à l'œuvre dans notre socialisation. Ils naviguent avec
      intensité entre l'expression de leur individualité et la gestion
      collective de l'évolution du groupe.</span
    >
  </div>
  <div class="meduses-paragraphe with-image">
    <div class="blue-frame">
      <img
        src="assets/creations/meduses/desequilibre.jpg"
        class="meduses-image"
        alt="Plusieurs danseurs dans le processus de création chorégraphique"
      />
      <div class="container">
        <span class="a-propos" i18n>À propos de la pièce</span>
        <p i18n>
          Cette pièce souhaite explorer les notions de différence, rejet et
          discrimination dans notre façon d’évoluer collectivement et dans nos
          interactions entre individus. Comment, à partir de notre besoin humain
          de catégorisation et d’appartenance à un groupe, se construisent
          différents mécanismes d’identification et de rejet ? Quelles sont
          leurs conséquences sur notre organisation ?
        </p>
        <p i18n>
          La recherche se concentre sur l’expression des singularités des
          interprètes au sein d’un groupe et l’interprétation qu’on peut faire
          des différentes situations qu’ils traversent. La pièce met en scène la
          façon dont ces singularités peuvent être gérées collectivement, entre
          tension et harmonie, comme un reflet de ce que nous vivons au studio
          et en dehors, dans la construction d’une réalité commune. La matière
          chorégraphique se construit à partir d’un mouvement de balancier que
          les interprètes installent et qui devient un fil conducteur. Il va les
          emmener dans une exploration des liens qu’ils tissent ou abandonnent
          au sein du groupe.
        </p>
      </div>
    </div>
  </div>
  <div class="meduses-paragraphe with-image">
    <div class="blue-frame reversed">
      <div class="container">
        <span class="a-propos" i18n>Étapes de travail</span>
        <ul>
          <li i18n>
            Sélection pour les Spectacles Sauvages dans le cadre du festival
            Signes d'automne 2023 au Regard du Cygne à Paris. Présentation du
            travail en cours en novembre 2023.
          </li>
          <li i18n>
            Sortie de résidence dans le cadre des Jeudis de la Danse à la
            Manufacture d’Aurillac. Présentation du travail en cours en mars
            2024.
          </li>
          <li i18n>
            Sélection pour le Concours Chorégraphique Les Synodales en octobre
            2024.
          </li>
        </ul>
        <span class="a-propos" i18n>Représentations</span>
        <ul>
          <li i18n>
            Théâtre de l'Île Ô à Lyon le 20 janvier 2025 pour l'événement
            Mapado.
          </li>
          <li i18n>Aux Échappées Belles à Lyon (date à venir).</li>
        </ul>
        <button class="artistic-file-button" (click)="openFile()" i18n>
          <img src="assets/icons/new-tab.svg" class="artistic-file-icon" />
          Consulter le dossier artistique
        </button>
      </div>
      <img
        src="assets/creations/meduses/calins.jpg"
        class="meduses-image"
        alt="La chorégraphe communique avec ses danseurs"
      />
    </div>
  </div>
  <div class="interpretes">
    <span i18n>Interprètes</span>
  </div>
  <div class="artists">
    <div
      class="artist"
      *ngFor="let artist of artists"
      (click)="openModalArtist(artist)"
    >
      <img
        [src]="getArtistImagePath(artist)"
        class="meduses-artist-image"
        [alt]="artist.alt"
      />
      <div class="artist-name">
        <span> {{ artist.firstName }} {{ artist.lastName }} </span>
      </div>
    </div>
  </div>
</div>

<div class="additional-info">
  <div class="soutiens">
    <img
      src="assets/soutiens/pole-en-scenes-logo.png"
      class="soutien-image"
      alt="logo de Pôle Pik"
    />
    <img
      src="assets/soutiens/cnd_blanc.png"
      class="soutien-image"
      alt="logo du CND"
    />
    <img
      src="assets/soutiens/logo-blanc-manufacture.png"
      class="soutien-image"
      alt="logo de la Manufacture d’Aurillac"
    />
    <div class="murol">
      <img
        src="assets/soutiens/blason_murol.png"
        alt="blason de la ville de Murol"
        class="soutien-image"
      />
      Ville de Murol
    </div>
    <img
      src="assets/soutiens/hallet_eghayan.png"
      class="soutien-image"
      alt="logo de la compagnie Hallet Eghayan"
    />
    <img
      src="assets/soutiens/chatha.svg"
      class="soutien-image"
      alt="logo du studio Chatha"
    />
    <img
      src="assets/soutiens/spedidam.png"
      class="soutien-image"
      alt="logo de la Spedidam"
    />
    <img
      src="assets/soutiens/regard-du-cygne.png"
      class="soutien-image"
      alt="logo du Regard Du Cygne"
    />
  </div>
</div>
