<div class="actus">
  <div class="title">
    <div class="separation-line left"></div>
    <span>Actualités</span>
    <div class="separation-line right"></div>
  </div>

  <div class="news-list">
    <div class="news-item">
      <img src="assets/home/news1.jpg" alt="image" class="news-block" />
      <div class="news-description">
        <div class="news-content-wrapper">
          <div class="news-title">
            Le solo <i>l'horizon est fait de petits cailloux</i> a été
            sélectionné pour PLATFORM 14 se déroulant du 8 au 13 août à Berlin !
          </div>
          <div class="news-subtitle">
            PLATFORM 14 est un festival de danse destiné à mettre en valeur la
            création chorégraphique d'artistes émergents dans différentes
            disciplines.
          </div>
        </div>
      </div>
    </div>
    <div class="reversed-news-item">
      <img src="assets/home/news2.jpg" alt="image" class="news-block" />
      <div class="news-description">
        <div class="news-content-wrapper">
          <div class="news-title">Une nouvelle date pour le solo</div>
          <div class="news-subtitle">
            <i>L'horizon est fait de petits cailloux</i> sera présenté lors du
            festival d'Aurillac, du 23 au 26 août à la Manufacture d'Aurillac.
          </div>
        </div>
      </div>
    </div>
    <div class="news-item">
      <img src="assets/home/news4.jpg" alt="image" class="news-block" />
      <div class="news-description">
        <div class="news-content-wrapper">
          <div class="news-title">Un nouveau projet</div>
          <div class="news-subtitle">
            La compagnie se lance dans un nouveau projet de création
            <i>Les méduses ne nagent jamais seules</i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
