@import "../../../styles/variables";

.news-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 3rem;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-transform: uppercase;
  width: 100%;
  color: $dark-blue;
  font-size: 3rem;

  span {
    padding: 0rem 4rem 0rem 4rem;
  }
}

.actus {
  padding: 0% 4% 0% 4%;
}

app-know-more.no-margin-left {
  display: flex;
}

.right {
  width: 70%;
}

.left {
  width: 10%;
}

.news-item {
  flex-direction: row;
}

.news-item,
.reversed-news-item {
  max-height: 40rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0rem 2rem 0rem;
  outline: 1px solid $dark-blue;
  outline-offset: -1px;
  max-width: 85rem;
}

.reversed-news-item {
  flex-direction: row-reverse;
}

.news-content-wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.news-title {
  font-size: 2rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
}
.creation {
  font-size: 2.5rem;
}

.news-subtitle {
  font-size: 1.5rem;
}

.news-image {
  max-height: 70vh;
}

.news-video {
  max-height: 60vh;
}

.meduses-video {
  height: 60vh;
  min-width: 106vh;
}

.news-description {
  padding: 0rem 2rem 0rem 2rem;
  height: 100%;
}

.mt-2 {
  margin-top: 2rem;
}

@media only screen and (max-width: $small-screen-size) {
  .description {
    font-size: 1rem;
  }

  .news-image {
    min-width: 15rem;
    max-width: 15rem;
    min-height: 15rem;
    max-height: 15rem;
  }

  .news-description {
    outline: 0px solid $dark-blue;
    padding: 0;
  }

  .news-video {
    max-width: 90vw;
  }

  .meduses-video {
    min-width: 90vw;
    height: 30vh;
  }

  .news-item,
  .reversed-news-item {
    outline: 0px;
    outline-offset: -1px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    padding-top: 1rem;
    max-height: none;
    max-width: 20rem;
  }

  .news-content-wrapper {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .news-title {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }

  .news-subtitle {
    font-size: 0.8rem;
  }

  .left,
  .right {
    width: 20%;
  }

  .title {
    justify-content: space-around;
    span {
      padding: 0rem 0.5rem 0rem 0.5rem;
      font-size: 2rem;
    }
  }
}
