<div class="actus">
  <div class="title">
    <div class="separation-line left"></div>
    <span i18n>Actualités</span>
    <div class="separation-line right"></div>
  </div>
  <div class="news-list">
    <mat-card class="news-card">
      <mat-card-content class="news-card-content-with-image">
        <iframe
          class="meduses-video"
          src="https://www.youtube.com/embed/hVyVmXkr50g?si=iG5rRKseLOUhmEmH"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
        <div class="news-card-side">
          <div class="news-title" i18n>Dimanche 23 février 2025 à 16h</div>
          <div class="news-title" i18n>
            Théâtre-studio Aux Échappées Belles à Lyon
          </div>
          <div class="news-subtitle" i18n>
            <i>Les méduses ne nagent jamais seules</i>
          </div>
          <div class="news-subtitle" i18n>
            <i>&</i>
          </div>
          <div class="news-subtitle" i18n>
            <i>Seven Tries</i>
          </div>
          <br />
          <div class="news-text">
            <span i18n>Entrée libre</span>
          </div>
          <div class="news-text">
            <span i18n>Durée : environ 50min</span>
          </div>
          <div class="news-text">
            <span i18n>65-73 Rue du Bourbonnais, 69009 Lyon </span>
          </div>
          <div class="news-text">
            <span i18n>Métro D : arrêt Valmy (10 min à pied) </span>
          </div>
          <div class="news-text">
            <span i18n>Bus 3, 19 et 36 : arrêt Apollinaire bourbonnais</span>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="news-card">
      <mat-card-content class="news-card-content-with-image reversed">
        <iframe
          class="meduses-video"
          src="https://www.youtube.com/embed/UTwx97YQI4w?si=36-JaSYqUk72Lptb"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
        <div class="news-card-side">
          <div class="news-title" i18n>Samedi 5 avril 2025</div>
          <div class="news-subtitle" i18n>
            Représentation du solo <i>Seven Tries</i> à 15h au festival Onyx à
            Clermont-Ferrand
          </div>
          <br />
          <app-mat-know-more
            class="news-card-know-more"
            link="/seven-tries"
          ></app-mat-know-more>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="news-card">
      <mat-card-content class="news-card-content-with-image">
        <img
          src="assets/creations/meduses/mapado.jpg"
          alt="Photo prise pendant la représentation de Les méduses ne nagent jamais seules"
          class="news-image"
        />
        <div class="news-card-side">
          <div class="news-title" i18n>Retour sur début 2025</div>
          <div class="news-subtitle" i18n>
            Représentation de la pièce
            <i>Les méduses ne nagent jamais seules</i> pour l'événement Mapado
            au Théâtre de l'île Ô à Lyon.
          </div>
          <br />
          <br />
          <br />
          <div class="news-subtitle" i18n>
            Workshop avec les danseuses en formation de La Cité Chorégraphique
            autour du répertoire de la compagnie.
          </div>
          <br />
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
