<div class="actus">
  <div class="title">
    <div class="separation-line left"></div>
    <span i18n>Actualités</span>
    <div class="separation-line right"></div>
  </div>
  <div class="news-list">
    <mat-card class="news-card">
      <mat-card-content class="news-card-content-with-image">
        <iframe
          class="meduses-video"
          src="https://www.youtube.com/embed/UTwx97YQI4w?si=36-JaSYqUk72Lptb"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
        <div class="news-card-side">
          <div class="news-title" i18n>Samedi 30 novembre 2024</div>
          <div class="news-subtitle" i18n>
            Représentation du solo <i>Seven Tries</i> à 18h au centre 25 Gisèle
            Halimi à Clermont-Ferrand.
          </div>
          <br />
          <span i18n>
            Le 25 Gisèle Halimi, centre de ressources et d'aide aux femmes,
            accueille Estelle pour une série d'ateliers avec un groupe de femmes
            et pour une représentation de son solo gratuite et ouverte à toutes
            et tous.
          </span>
          <app-mat-know-more
            class="news-card-know-more"
            link="/seven-tries"
          ></app-mat-know-more>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="news-card">
      <mat-card-content class="news-card-content-with-image reversed">
        <iframe
          class="meduses-video"
          src="https://www.youtube.com/embed/hVyVmXkr50g?si=iG5rRKseLOUhmEmH"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
        <div class="news-card-side">
          <div class="news-title" i18n>Dimanche 12 janvier 2025</div>
          <div class="news-subtitle" i18n>
            Représentation des pièces
            <i>Les méduses ne nagent jamais seules</i> et <i>Seven Tries</i> à
            16h au théâtre-studio Aux Échappées Belles à Lyon.
          </div>
          <br />
          <span i18n>
            Après une résidence de création en décembre au studio Aux Échappées
            Belles à Lyon, la compagnie vous donne rendez-vous en janvier pour
            une représentation composée de deux pièces.</span
          >
          <app-mat-know-more
            class="news-card-know-more"
            link="/les-meduses-ne-nagent-jamais-seules"
          ></app-mat-know-more>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
