@use "@angular/material" as mat;
@import "../../../styles/variables";

.news-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 3rem;
  gap: 2rem;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-transform: uppercase;
  width: 100%;
  color: $dark-blue;
  font-size: 3rem;

  span {
    padding: 0rem 4rem 0rem 4rem;
  }
}

.actus {
  padding: 0% 4% 0% 4%;
}

.news-card {
  font-family: Avenir;
  border-width: 1px;
  border-style: solid;
  border-color: $dark-blue;
  box-shadow: none;
  border-radius: 0;
}

.right {
  width: 70%;
}

.left {
  width: 10%;
}

.news-card-content-with-image {
  display: flex;
  align-items: center;
  width: min(85rem, 65vw);
}

.news-card:nth-of-type(even) .news-card-content-with-image {
  flex-direction: row-reverse;
}

.news-card-know-more {
  width: fit-content;
  margin: 1rem 5rem 2rem 2rem;
}

.news-card-side {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  align-items: flex-end;
  width: 100%;
}

.news-title {
  font-size: 2rem;
  margin-bottom: 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.last-shows {
  font-size: 2rem;
  width: 100%;
  max-width: 85rem;
}

.strikethrough {
  text-decoration: line-through;
}

.mb-0 {
  margin-bottom: 0;
}

.news-subtitle {
  width: 100%;
  font-size: 1.5rem;
}

.news-text {
  width: 100%;
}

.news-image {
  max-height: 70vh;
}

.news-video {
  max-height: 60vh;
}

.meduses-video {
  height: 60vh;
  min-width: 75vh;
}

@media only screen and (max-width: $small-screen-size) {
  .description {
    font-size: 1rem;
  }

  .news-image {
    min-width: 15rem;
    max-width: 15rem;
    min-height: 15rem;
  }
  .news-image.landscape {
    max-width: 90vw;
    min-width: auto;
    min-height: auto;
  }

  .news-video {
    max-width: 90vw;
  }

  .news-card {
    border-width: 0px;
  }

  .news-card-content-with-image {
    flex-direction: column;
  }

  .news-card:nth-of-type(even) .news-card-content-with-image {
    flex-direction: column;
  }

  .news-card-side {
    align-items: flex-start;
  }

  .news-card-know-more {
    margin: 1rem 0rem 1rem 0rem;
  }

  .meduses-video {
    min-width: 90vw;
    height: 30vh;
  }

  .news-title {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }

  .last-shows {
    font-size: 1.2rem;
  }

  .news-subtitle {
    font-size: 1rem;
  }

  .left,
  .right {
    width: 20%;
  }

  .title {
    justify-content: space-around;
    span {
      padding: 0rem 0.5rem 0rem 0.5rem;
      font-size: 2rem;
    }
  }
}
