@use "../../styles/variables" as *;

.homebody {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-image {
  max-width: 100%;
  height: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.description {
  font-size: $subtitle-size;
  padding: 0rem 2rem;
  text-align: justify;
}

.news {
  width: 100%;
  margin-bottom: 3rem;
}
